@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-talk-main-ui {
    opacity: 0;
    z-index: -1;
    background: #fdf7eb;
    @include displayBox(vertical);


    .zmiti-createimg {
        @include transform(scale(.75));
        @include transformOrigin(center 45%); //border: 5px solid $color;
        box-sizing: border-box;
        @include pos(a);
        z-index: 102;
        &.zmiti-scale-enter-active,
        &.zmiti-scale-leave-active {
            @include transition(.5s);
        }
        &.zmiti-scale-enter,
        &.zmiti-scale-leave-to {
            @include transform(scale(1));
        }
        &:after {
            content: '长按保存图片';
            @include pos(a);
            color: #fff;
            font-size: 30px;
            bottom: 0;
            left: 101%;
        }
        img {
            border: 10px solid #fff;
            box-sizing: border-box;
            @include br(10px);
        }
        .zmiti-share-btn {
            @include pos(a);
            z-index: 10;
            color: #fff;
            background: #aa0707;
            margin-top: 30px;
            left: 50%;
            @include transform(translateX(-50%) scale(1.2));
            padding: 14px 40px;
            @include br(10px);
            border: 2px solid #fff;
        }
    }

    .zmiti-result-page{
        z-index: 199000;
        .zmiti-result-content{
            width: 600px;
            height: 500px;
            @include pos(a);
            left: 50%;
            top:50%;
            @include transform(translate(-50%,-50%));

            .zmiti-result-user{
                @include displayBox(horizontal);
                color:#fffd58;
                div{
                    margin: 10px;
                }
                 &>div:nth-of-type(1){
                    text-align: center;
                    img{
                        display: block;
                        margin: 0 auto 10px;
                        @include br(100px);

                    }
                 }
                 &>div:nth-of-type(2) {
                     &>div{
                         &:nth-of-type(1){
                             font-size:50px;
                             font-weight: bold;
                         }
                         &:nth-of-type(2){
                             color:#fafa8f;
                         }
                     }
                 }
            }
            
        }
        h1{
            line-height: 120px;;
            padding-left: 50px;
            img{
                width: 50px;
                
            }
            font-size:22px;
            color:#fff;
            font-weight: normal;
        }
        .zmiti-zheng{
            @include pos(a);
            z-index: 10;
            right: 10px;
            bottom: 10px;
        }
        .zmiti-qrcode{
            @include pos(a);
            z-index: 10;
            bottom: 20px;
            left: 20px;
            width: 200px;
        }
    }


    .zmiti-talk-form{
        height: 100px;
        width: 100%;
        background:#fff;
        text-align: center;
        &>div{
            width: 90%;
            margin: 0 auto;
            line-height: 100px;
        }
        input{
            width: 80%;
            border:1px solid #cccccc;
            height: 60px;
            vertical-align: middle;
            font-size:32px;
            outline: none;
        }
        span{
            border:1px solid  #ccc;
            padding:8px 16px;
            vertical-align: middle;
            @include pos(r);
            top: 2px;
            @include br(10px);
            color:#ccc;
            &.active{
                background:#20ab2c;
                color:#fff;
            }
        }
        
    }
    & > section {
        -webkit-box-flex:1;
        .zmiti-talk-content {
            //padding-top: 40px;
            //margin-top: -15px;
           // min-height: 2000px;
           @include pos(r);
            
            //border:10px solid #f00;
           // z-index: 10;
            overflow: hidden;

            li {
                width: 90%;
                margin: 15px auto;

                @include displayBox(horizontal);

                &.right{
                    -webkit-box-pack: end;
                    -webkit-box-direction: reverse;
                    
                    &>div{
                        .zmiti-headimg{
                            margin: 0 auto;
                        }
                        &:nth-of-type(1){
                            width:92px;
                            height: 92px;
                            @include br();
                        }
                        &:nth-of-type(2) {
                           
                            &>div {
                                background: #a1e75b;
                                padding: 20px 20px;
                                @include br(10px);
                                @include pos(r);
                                max-width:300px;
                                margin-right: 30px;
                                top: -10px;
                                &:before {
                                 
                                    background: #a1e75b;
                                    right: -10px;
                                    left: auto;
                                   
                                }
                            }
                        }
                    }
                }

                -webkit-box-pack: start;
                & > div {
                    &:nth-of-type(1) {
                        text-align: center;
                        color: #fff;
                        font-size: 28px;
                    }
                    span{
                        display: inline-block;
                        white-space:normal;
                        word-wrap:break-word;
                    }
                    &:nth-of-type(2) {
                        margin-left: 40px;

                        .zmiti-talk-img{
                            background: #fff;
                            padding: 10px;
                            max-width: 400px;
                            box-sizing: border-box;
                            img{
                                
                                z-index: 10;
                                @include pos(r);
                            }
                           
                        }
                        & > div {
                            background: #fff;
                            padding:20px 20px;
                            @include br(10px);
                            @include pos(r);
                            &:before{
                                content:'';
                                @include pos(a);
                                width: 26px;
                                height: 26px;
                                background:#fff;
                                @include transform(rotate(45deg));
                                left: -10px;
                                top: 50%;
                                margin-top: -20px;
                                
                            }
                        }
                    }
                }

                .zmiti-headimg {
                    width: 80px;
                    display: block;

                    @include br();

                    border: 6px solid #fff;
                }
            }
        }

        .zmiti-talk-title {
            @include pos(r);
            z-index: 10;

        }

        .zmiti-barrage {
            @include pos(a);

            left: 100%;
            top: 0;
            color: #fff;
            -webkit-animation: move 4s linear infinite;
            width: 100%;
        }

        @for $i from 1 through 50 {
           
            .zmiti-barrage:nth-of-type(#{$i}){
                $time:6s;
                -webkit-animation: move 5s *$i linear infinite;
                
                @if $i % 3 == 0 {
                    top:40px;
                     //-webkit-animation-duration: $time+2;
                }
                @if $i % 3 == 1 {
                    top: 80px;
                    //-webkit-animation-duration: $time+4;
                }
                
            }
        }

        @-webkit-keyframes move{
            to{
                -webkit-transform: translate3d(-1250px,0,0)
            }
        }

        .zmiti-talk-pk-C {
            @include pos(a);

            top: 120px;
            width: 100%;
        }

        @at-root.zmiti-pk {
            @include displayBox(horizontal);

            -webkit-box-pack: justify;
            &:nth-of-type(1) {
                &>div{
                    @include pos(r);
                    &:nth-of-type(3){
                        span{
                            left: 28%;
                        }
                    }
                }
                span{
                    @include pos(a);
                    width: 72%;
                    top: 30px;
                    height: 50px;
                    line-height: 50px;
                    color:#fff;
                    text-align: center;
                }
            }
            &:nth-of-type(2) {
                width: 96%;
                margin: 10px auto;

                & > div {
                    @include pos(r);

                    img {
                        width: 60px;

                        @include pos(r);

                        z-index: 10;
                    }

                    &:nth-of-type(1) {
                        -webkit-box-flex: 1;
                        text-align: right;

                        span {
                            background-image: -webkit-linear-gradient(top, #db595d, #a1060a);
                        }
                    }

                    &:nth-of-type(2) {
                        width:120px;
                        margin: 0 10px;
                        img{width: 100%;}
                    }

                    &:nth-of-type(3) {
                        -webkit-box-flex: 1;

                        span {
                            background-image: -webkit-linear-gradient(top, #4a6995, #1c3b67);
                        }
                    }
                }

                span {
                    @include pos(a);

                    left: 0;
                    top: 50%;
                    margin-top: -10px;
                    width: 98%;
                    height: 20px;
                    background: #fff;

                    @include br(10px);

                    border: 2px solid #e2c352;
                }
            }
        }

        .zmiti-talk-score {
            text-align: center;
            color: #fff;
            font-size: 50px;
            letter-spacing: 20px;
            font-weight: bold;
            margin-top: -20px;
        }

        .zmiti-countdown {
            width: 200px;
            margin: 20px auto;

            @include pos(r);

            span {
                @include pos(a);

                color: #ffa105;
                font-size: 36px;
                width: 100%;
                text-align: center;
                top: 20px;
            }
        }
    }

    &.show {
        z-index: 1230;
        opacity: 1;
    }

    .zmiti-result{
        z-index: 10;
        background:rgba(0,0,0,.5);
        @include displayBox(horizontal);
    }
    .zmiti-tel{
         z-index: 10;
         background:rgba(0, 0, 0, .5);
         @include displayBox(horizontal);
         &>div{
             @include pos(r);
             input{
                 width: 310px;
                 height: 50px;
                 @include pos(a);
                 margin-top: -90px;
                 left: 50%;
                 margin-left: -170px;
                 outline: none;
                 -webkit-appearance: none;
                 border:1px solid #ccc;
                 font-size:28px;
                 padding-left: 10px;
                 background:#f0f0f0;


             }
             span{
                 @include pos(a);
                 width: 55px;
                 height: 55px;
                 right: 0;
                 top: 0;
             }
             div{
                 margin: 50px auto;
                 background:#21426e;
                 border:2px solid #f2e4b0;
                 width: 130px;
                 height: 50px;
                 line-height: 50px;
                 text-align: center;
                 color:#fff;
                 @include br(10px);
             }
         }
    }
}
