@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-talk-main-ui {
    opacity: 0;
    z-index: -1;
    position: fixed !important;
    background: #fdf7eb;
    @include displayBox(vertical);


    &>section{
    }


    .zmiti-createimg {
        @include transform(scale(.75));
        @include transformOrigin(center 45%); //border: 5px solid $color;
        box-sizing: border-box;
        @include pos(a);
        z-index: 102;
        &.zmiti-scale-enter-active,
        &.zmiti-scale-leave-active {
            @include transition(.5s);
        }
        &.zmiti-scale-enter,
        &.zmiti-scale-leave-to {
            @include transform(scale(1));
        }
        &:after {
            content: '长按保存图片';
            @include pos(a);
            color: #fff;
            font-size: 30px;
            bottom: 0;
            left: 101%;
        }
        img {
            border: 10px solid #fff;
            box-sizing: border-box;
            @include br(10px);
        }
        .zmiti-share-btn {
            @include pos(a);
            z-index: 10;
            color: #fff;
            background: #aa0707;
            margin-top: 30px;
            left: 50%;
            @include transform(translateX(-50%) scale(1.2));
            padding: 14px 40px;
            @include br(10px);
            border: 2px solid #fff;
        }
    }

    .zmiti-result-page{
        z-index: 199000;
        -webkit-filter: blur(0px);
        .zmiti-result-content{
            width: 600px;
            height: 500px;
            @include pos(a);
            left: 50%;
            top:50%;
            @include transform(translate(-50%,-50%));

            .zmiti-result-user{
                @include displayBox(horizontal);
                color:#fffd58;
                div{
                    margin: 10px;
                }
                 &>div:nth-of-type(1){
                    text-align: center;
                    img{
                        display: block;
                        margin: 0 auto 10px;
                        @include br(100px);

                    }
                 }
                 &>div:nth-of-type(2) {
                     &>div{
                         &:nth-of-type(1){
                             font-size:60px;
                             font-weight: bold;
                         }
                         &:nth-of-type(2){
                             color:#fff;
                             font-size:56px;
                             font-weight: bold;
                         }
                     }
                 }
            }
            
        }
        h1{
            line-height: 120px;;
            padding-left: 50px;
            img{
                width: 250px;
                
            }
            font-size:22px;
            color:#fff;
            font-weight: normal;
        }
        .zmiti-zheng{
            @include pos(a);
            z-index: 10;
            right: 10px;
            bottom: 10px;
        }
        .zmiti-qrcode{
            @include pos(a);
            z-index: 10;
            bottom: 20px;
            left: 20px;
            width: 200px;
        }
    }


    .zmiti-talk-form{
        height: 100px;
        width: 100%;
        background:#fff;
        text-align: center;
        &>div{
            width: 90%;
            margin: 0 auto;
            line-height: 100px;
        }
        input{
            width: 80%;
            border:1px solid #cccccc;
            height: 60px;
            vertical-align: middle;
            font-size:32px;
            outline: none;
        }
        span{
            border:1px solid  #ccc;
            padding:8px 16px;
            vertical-align: middle;
            @include pos(r);
            top: 2px;
            @include br(10px);
            color:#ccc;
            &.active{
                background:#20ab2c;
                color:#fff;
            }
        }
        
    }
    & > section {
        -webkit-box-flex:1;
        .zmiti-talk-content {
            //padding-top: 40px;
            //margin-top: -15px;
           // min-height: 2000px;
           @include pos(r);
            
            //border:10px solid #f00;
           // z-index: 10;
            overflow: hidden;

            li {
                width: 90%;
                margin: 15px auto;

                @include displayBox(horizontal);

                &.right{
                    -webkit-box-pack: end;
                    -webkit-box-direction: reverse;
                    
                    &>div{
                        .zmiti-headimg{
                            margin: 0 auto;
                        }
                        &:nth-of-type(1){
                            width:92px;
                            height: 92px;
                            @include br();
                        }
                        &:nth-of-type(2) {
                           
                            &>div {
                                background: #a1e75b;
                                padding: 20px 20px;
                                @include br(10px);
                                @include pos(r);
                                max-width:300px;
                                margin-right: 30px;
                                top: -10px;
                                &:before {
                                 
                                    background: #a1e75b;
                                    right: -10px;
                                    left: auto;
                                   
                                }
                            }
                        }
                    }
                }

                -webkit-box-pack: start;
                & > div {
                    &:nth-of-type(1) {
                        text-align: center;
                        color: #fff;
                        font-size: 28px;
                    }
                    span{
                        display: inline-block;
                        white-space:normal;
                        word-wrap:break-word;
                    }
                    &:nth-of-type(2) {
                        margin-left: 40px;

                        .zmiti-talk-img{
                            background: #fff;
                            padding: 10px;
                            max-width: 400px;
                            box-sizing: border-box;
                            img{
                                
                                z-index: 10;
                                @include pos(r);
                            }
                           
                        }
                        & > div {
                            background: #fff;
                            padding:20px 20px;
                            @include br(10px);
                            @include pos(r);
                            &:before{
                                content:'';
                                @include pos(a);
                                width: 26px;
                                height: 26px;
                                background:#fff;
                                @include transform(rotate(45deg));
                                left: -10px;
                                top: 50%;
                                margin-top: -20px;
                                
                            }
                        }
                    }
                }

                .zmiti-headimg {
                    width: 80px;
                    display: block;

                    @include br();

                    border: 6px solid #fff;
                }
            }
        }

        .zmiti-talk-title {
            @include pos(r);
            z-index: 10;

        }

        .zmiti-barrage {
            @include pos(a);
            //left: $viewW;
            top: 0;

            left: 0;
            color: #fff;
            
            //width: $viewW*3;
            
            @include displayBox(horizontal);
            -webkit-box-pack:start;
           
            white-space:nowrap; 
            -webkit-animation: move 17s 1s linear infinite;
            &>div{
                margin: 0 20px;
                //-webkit-transform: translate3d(750px, 0, 0);
              //  left: $viewW;

            }

             &:nth-of-type(1){
                &>div{

                }
             }

            &:nth-of-type(2){
                top: 40px;
                -webkit-animation: move1 23s .2s linear infinite;
                &>div{
                  //  
                }
            }

            &:nth-of-type(3) {
                -webkit-animation: move2 20s linear infinite;
                top: 80px;
            }
            img{
                width: 40px;
                @include br();
            }
        }

       

        @-webkit-keyframes move{
            from{
                //-webkit-transform: translate3d($viewW, 0, 0);
                left: $viewW;
            }
            to{
                //-webkit-transform: translate3d(-100%,0,0)
                left: -100%;
            }
        }
        @-webkit-keyframes move1{
            from{
                //-webkit-transform: translate3d($viewW, 0, 0);
                left: $viewW;
            }
            to{
                //-webkit-transform: translate3d(-100%,0,0)
                left: -100%;
            }
        }
        @-webkit-keyframes move2 {
            from{
                //-webkit-transform: translate3d($viewW, 0, 0);
                left: $viewW;
            }
            to{
                //-webkit-transform: translate3d(-100%,0,0)
                left: -100%;
            }  
        }

        .zmiti-talk-pk-C {
            @include pos(a);
            top: 120px;
            width: 100%;
        }

        @at-root.zmiti-pk {
            @include displayBox(horizontal);

            -webkit-box-pack: justify;
            &:nth-of-type(1) {
                &>div{
                    @include pos(r);
                    &:nth-of-type(3){
                        span{
                            left: 28%;
                        }
                    }
                }
                span{
                    @include pos(a);
                    width: 72%;
                    top: 30px;
                    height: 50px;
                    line-height: 50px;
                    color:#fff;
                    text-align: center;
                }
            }
            &:nth-of-type(2) {
                width: 96%;
                margin: 10px auto;

                & > div {
                    @include pos(r);

                    img {
                        width: 60px;

                        @include pos(r);

                        z-index: 10;
                    }

                    &:nth-of-type(1) {
                        -webkit-box-flex: 1;
                        text-align: right;

                        span {
                            background-image: -webkit-linear-gradient(top, #db595d, #a1060a);
                        }
                    }

                    &:nth-of-type(2) {
                        width:120px;
                        margin: 0 10px;
                        img{width: 100%;}
                    }

                    &:nth-of-type(3) {
                        -webkit-box-flex: 1;

                        span {
                            background-image: -webkit-linear-gradient(top, #4a6995, #1c3b67);
                        }
                    }
                }

                span {
                    @include pos(a);

                    left: 0;
                    top: 50%;
                    margin-top: -10px;
                    width: 98%;
                    height: 20px;
                    background: #fff;

                    @include br(10px);

                    border: 2px solid #e2c352;
                }
            }
        }

        @at-root.zmiti-talk-score {
            @include pos(r);
            /* text-align: center;
            color: #fff;
            font-size: 50px;
            letter-spacing: 20px;
            font-weight: bold;
            margin-top: -20px; */

            &>div>div{
                margin: 0 !important;
            }
            .zmiti-hand,.zmiti-hand1{
                @include pos(a);
                left: 58%;
                top:60px;
                z-index: 101;
                img{
                    width:70px;

                }

                span{
                    @include transform(translate3d(-26%, -45%, 0));
                    @include animation(scale 1s infinite);
                    @include pos(a);
                    width: 1rem;
                    height: 1rem;
                    @include br();
                    opacity: .5;
                    background: rgba(238, 101, 19, .5);
                    background: #fff;
                    left: 0;
                    top: 0;
                }

            }
            .zmiti-hand1{
                left:38%;
                span{
                    @include animation(scale 1s .5s infinite);
                }
            }


            @-webkit-keyframes scale {
                from {
                    @include transform(translate3d(-26%, -45%, 0) scale(0));
                    opacity: 1;
                }

                to {
                    @include transform(translate3d(-26%, -45%, 0) scale(1.4));
                    opacity: 0;
                }

            }

            &>div{
                @include displayBox(horizontal);
                background:#3e7d9d;
                @include br(20px);
                border:6px solid #95ccf3;
                box-sizing:border-box;
                width: 360px;
                height: 150px;
                margin: 10px auto;
                text-align: center;
                color:#ffe400;
                font-size: 24px;
                img{
                    position: absolute !important;
                }

                .zmiti-talk-score-item{
                    font-size:50px;
                    @include pos(r);
                    width: 100px;
                    height: 100px;
                    display: block;
                    left:0;
                    top: 0;



                    line-height: 120px;
                    &:before{
                        content:"";
                        @include pos(a);
                        width: 80%;
                        left: 10%;
                        z-index: 10;
                        height:3px;
                        background:#fefefe;
                        top: 90px;

                    }
                    input[type=number]{
                        border:none;
                        -webkit-appearance: none;
                        font-size:50px;
                        color:#ffe400;
                        z-index: 100;
                        text-align: center;
                        @include pos(a);
                        display: block;

                        width: 30px;
                        left: 50%;
                        top: 50%;

                        @include transform(translate3d(-50%,-50%,0));

                        background:transparent;

                        @-webkit-keyframes flash{
                            to{
                                border-width:0;
                            }
                        }

                    }
                }
                &>div{
                    @include pos(r);
                    &:nth-of-type(1),&:nth-of-type(3){
                        img{
                            width: 100px;
                            height: auto;
                            @include pos(r);
                            display: block;
                        }
                    }
                    &:nth-of-type(2){
                        width: 50px;
                        height: 100%;
                        &:before{
                            content:"";
                            width: 30px;
                            height: 6px;
                            left: 50%;
                            @include transform(translate(-50%,0));
                            background:#fff;
                            @include pos(a);
                            z-index: 10;
                            top: 50%;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }

        .zmiti-countdown {
            width: 200px;
            margin: 20px auto;

            @include pos(r);

            span {
                @include pos(a);

                color: #ffa105;
                font-size: 36px;
                width: 100%;
                text-align: center;
                top: 20px;
            }
        }
    }

    &.show {
        z-index: 1230;
        opacity: 1;
    }

    .zmiti-result{
        z-index: 10;
        background:rgba(0,0,0,.5);
        @include displayBox(horizontal);
    }
    .zmiti-tel{
         z-index: 10;
         background:rgba(0, 0, 0, .5);
         @include displayBox(horizontal);
         &>div{
             @include pos(r);
             width: 600px;
             input{
                 width: 420px;
                 height: 60px;
                 @include pos(a);
                 margin-top: -130px;
                 left: 50%;
                 margin-left: -220px;
                 outline: none;
                 -webkit-appearance: none;
                 border:1px solid #ccc;
                 font-size:28px;
                 padding-left: 10px;
                 background:#f0f0f0;


             }
             span{
                 @include pos(a);
                 width: 55px;
                 height: 55px;
                 right: 0;
                 top: 0;
             }
             div{
                 margin: 50px auto;
                 background:#21426e;
                 border:2px solid #f2e4b0;
                 width: 130px;
                 height: 50px;
                 line-height: 50px;
                 text-align: center;
                 color:#fff;
                 @include br(10px);
             }
         }
    }
}
