@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
    overflow: hidden;
    width: 10rem;
    left: 50% !important;
    margin-left: -$viewW / 2;
    background: $bgColor;
    opacity: 0;
    z-index: -1;

    &.active:after{
        content:'';
        @include pos(a);
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }


    .zmiti-createimg{
        @include transform(scale(.75));
        @include transformOrigin(center 45%); //border: 5px solid $color;
        box-sizing: border-box;
        @include pos(a);
        z-index: 102;
        &.zmiti-scale-enter-active,
        &.zmiti-scale-leave-active {
            @include transition(.5s);
        }

        &.zmiti-scale-enter,
        &.zmiti-scale-leave-to {
            @include transform(scale(1));
        }
        &:after {
            content: '长按保存图片';
            @include pos(a);
            color: #fff;
            font-size:30px;
            bottom: 0;
            left: 101%;
        }

        img{
            border:10px solid #fff;
            box-sizing: border-box;
            @include br(10px);
        }

        .zmiti-share-btn{
            @include pos(a);
            z-index: 10;
            color:#fff;
            background: #aa0707;
            margin-top: 30px;
            left: 50%;
            @include transform(translateX(-50%) scale(1.2));

            padding: 14px 40px;
            @include br(10px);
            border:2px solid #fff;

        }
    }

    &.show {
        opacity: 1;
        z-index: 200;
    }
    
    .zmiti-index-logo{
        @include pos(a);
        right: 0;
        width:300px;
        top: 0;
        z-index: 1000;
    }
	
	canvas{
		@include pos(a);
		left:0;
		top: 0;
	}

    .zmiti-index {
        @include displayBox(vertical);

        & > div {
			
			-webkit-box-flex:1;
        }

        .zmiti-index-bottom {
			height: 300px;
            width: 100%;
            @include pos(r);
            .zmiti-copyright{
                @include pos(a);
                @include transform(scale(.9));
                right: 10px;
                color:#000;
                font-size:26px;
                
                bottom: 190px;
                img{
                    display: block;
                    width: 70px;
                    margin: 0 auto 10px;

                }
            }

			.zmiti-index-btns{
				@include pos(a);
				width: 70%;
				left: 15%;
				height: 160px;
				bottom: 0;
				@include displayBox(horizontal);
				-webkit-box-pack: justify;
				color:#fff;
				text-align: center;
				&>div{
					width: 160px;
					height: 70px;
					line-height: 70px;
					background: #770925;
					@include br(16px);
					border:2px solid #fff;
					font-size:32px;
					&:last-of-type{
						background: #21426e;
						border-color:#ab9956;

					}
				}

			}
			
        }
    }

    .zmiti-title {
        @include pos(r);

        width: 100vw;
        left: 0%;
        top: 0vh;
        z-index: 10;

      //  @include transform(translate3d(-50%, 0, 0));
		@include displayBox(vertical);
		-webkit-box-pack: justify;
		
        & > img {
            margin-left: -3%;
            @include pos(r);
            top: 30px;
        }

        .zmiti-vs {
			width: $viewW;
			margin: 2px 0;
            @include displayBox(horizontal);
            -webkit-box-pack: justify;

            & > div {
				@include pos(r);
				-webkit-box-flex: 1;
				&:nth-of-type(2){
					width: 80px;
					text-align: center;
					img{
						width: 70px;
					}
				}

                &:nth-of-type(1) {
					
                    span {
						//line-height: 150px;
						width: 65%;
						left: 0;
						right: auto;
                    }
                }
            }

            span {
                @include pos(a);

                height: 100%;
                text-align: center;
                top: 0;
                line-height: 150px;
				width: 70%;
				right: 0;
                //font-size: 32px;
                color: #fff;
            }
        }

        .zmiti-perosn {
            width: $viewW;
			@include pos(r);
			@include displayBox(horizontal);
			.zmiti-score{
				width: 400px;
				white-space:normal;
				
				section{
					@include pos(a);
					top:0px;
					z-index: 10;
					word-wrap:break-word;
					width: 400px;
					height: 160px;
					///margin-left: 80px;;
					img{
						@include pos(a);
						width: 100%;
						height: 100%;
						z-index: -1;
					}
					&>div{
						color:#777;
						width: 75%;
						margin-left: 20%;
						&:nth-of-type(1){
							margin-top: 10px;
							color:#d31b19;
							font-size:32px;
                        }
                        &:nth-of-type(2){
                            text-align: right;
                        }
					}
				}
			}
        }
    }
    .zmiti-result{
        background:rgba(0,0,0,.5);
        z-index: 100;
    }
}

.zmiti-loading {
    z-index: 1000;

    .zmiti-loading-ui {
        width: 6rem;
        left: 2rem;

        @include pos(a);

        top: 6rem;

        .zmiti-loading-bar {
            width: 2rem;

            @include br(10px);

            &:before {
                content: '';

                @include br(10px);
                @include pos(a);

                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
            }

            //height: 1rem;
            @include pos(r);

            margin: 0 auto;

            .zmiti-target {
                $size: 0.4rem;

                width: $size;
                height: $size;

                @include br;

                background: #fff;
                left: 50%;
                top: .4rem;

                @include pos(a);

                margin-left: -$size / 2;

                @include animation(scale linear 2s infinite alternate);
            }
        }

        .zmiti-progress {
            margin-top: .5rem;
            text-align: center;
            color: #fff;
            font-family: Georgia;
            font-size: .7rem;
        }
    }
}

.zmiti-play {}
